@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Sofia+Sans+Extra+Condensed:ital@1&display=swap');

#content {
    max-width: 1600px;
    margin: 0 auto;
}
nav a {
    text-align: center;
    color: #fcfbfb;
    text-decoration: none;
    padding: 35px;
}
#home-title, #secondary {
    text-align: center;
}
.buttons-box {
    text-align: center;
}
main section {
    text-align: center;
}
#background {
    height: 725px;
}
body {
    background-color: white;
    font-family: Sofia San Extra Condensed, Helvetica, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
header {
    background-color: #4d7298;
}
nav a:hover {
    background-color: #b3d89c;
}
.book:hover, .join:hover {
    background-color: #b3d89c;
}
#background {
    background-color: #4d7298;
}
.msg {
    background-color: #4d7298;
    line-height: 1.5em;
    padding: 35px;
}
footer {
    background-color: #77a6b6;
    padding: 25px 50px;
    margin-top: 200px;
}
.icon {
    width: 80px;
    padding-top: 10px;
}
#hero-img {
    width: 100%;
}
footer p {
    font-size: 1.2em;
}
footer p a:hover{
    text-decoration: underline;
}
.book, .join {
    font-family: Sofia San Extra Condensed, Helvetica, sans-serif;
    text-align: center;
    color: #fcfbfb;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
footer a {
    text-align: center;
    color: #fcfbfb;
    text-decoration: none;
}
.msg p {
    font-family: Sofia San Extra Condensed, Helvetica, sans-serif;
    font-size: .8em;
    padding-bottom: 15px;
}
#home-title {
    font-family: "Lobster";
    font-size: 2em;
    margin-top: 10px;
}
.book {
    color: black;
}
h2 {
    margin: 0;
}
#logo-link {
    padding-top: 5px;
}
.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}
.card-img {
    border: 10px solid #4d7298;
}
main section img {
    box-sizing: border-box;
}

