#content {
    max-width: 1600px;
    margin: 0 auto;
}
nav a {
    text-align: center;
    color: #fcfbfb;
    text-decoration: none;
}
#home-title, #secondary {
    text-align: center;
}
.buttons-box {
    text-align: center;
}
main section {
    text-align: center;
}
#background {
    height: 725px;
}
body {
    background-color: white;
}
header {
    background-color: #4d7298;
}
nav a:hover {
    background-color: #b3d89c;
}
.book:hover, .join:hover {
    background-color: #b3d89c;
}
#background {
    background-color: #4d7298;
}
.msg {
    background-color: #4d7298;
}
footer {
    background-color: #77a6b6;
}
.icon {
    width: 80px;
}
#hero-img {
    width: 100%;
}
footer p {
    font-size: 1.2em;
}
footer p a:hover{
    text-decoration: underline;
}
.book, .join {
    text-align: center;
    color: #fcfbfb;
    text-decoration: none;
}
footer a {
    text-align: center;
    color: #fcfbfb;
    text-decoration: none;
}
