@import url('https://fonts.googleapis.com/css2?family=Gloock&family=Noto+Serif&display=swap');

#content {
    max-width: 1600px;
    margin: 0 auto;
}
#chat-img {
    float: left;
    padding-left: 20px;
    padding-right: 50px;
    padding-bottom: 30px;
    margin-top: 30px;
}
#list {
    float: right;
    padding: 30px;
}
#degree {
    float: right;
    padding-top: 30px;
}
#rules {
    font-family: 'Noto-serif', serif;
    font-size: 27px;
    color: #533E2D;
}
body {
    font-family: 'Gloock', serif;
    background-color: white;
    font-size: 22px;
}
header {
    background-color: #A27035;
    display: grid;
    grid-template-columns: 150px auto;
}
nav a {
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 35px;
}
nav a:hover {
    background-color: #b88b4a;
}
nav {
    display: flex;
    justify-content: space-around;
}
footer {
    background-color: #a27035;
    padding: 25px 50px;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer p a:hover{
    text-decoration: underline;
}
footer p {
    font-family: 'Gloock', serif;
}
footer a {
    text-align: center;
    color: #fcfbfb;
    text-decoration: none;
}
p { 
    padding-left: 20px;
    padding-right: 70px;
    font-size: 27px;
    font-family: 'Noto Serif', serif;
    color: #533E2D;
}
h1 {
    padding-top: 20px;
    text-align: left;
    padding-left: 850px;
    font-size: 44px;
    color: #533E2D;
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
.chat, .work {
    text-align: center;
    padding: 10px;
}
.start, .apply {
    text-align: center;
    color:#533E2D;
    font-size: 18px;
    border-radius: 5px;
    text-decoration: none;
    padding: 5px 15px;
}
.start:hover, .apply:hover {
    background-color: #b88b4a;

}
button {
    display: block;
    margin: auto;
    margin-top: 15px;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 200px;
    text-align: center;
    font-family: "Noto-serif", serif;
  }
  
  /* Modal Content/Box */
  .modal-content {
    color: #533E2D;
    background-color: #b88b4a;
    margin: 5px auto; /* 15% from the top and centered */
    border: 1px solid #533E2D;
    width: 15%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    /* Position it in the top right corner outside of the modal */
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
  }
  
  /* Close button on hover */
  .close:hover,
  .close:focus {
    color: red;
    cursor: pointer;
  }
  
  /* Add Zoom Animation */
  .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
  }
  
  @keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
  }
  @media screen and (max-width: 900px) {
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #background {
        display: none;
    }
    footer {
        margin-top: 25px;
    }
    h1 {
        text-align: left;
        margin-left: -700px;
    }
  }